<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Web Case Management System</title>
        <h:outputStylesheet name="style.css" library="css"/>
    </h:head>
    <h:body>
        <h:form>
            <h1>Welcome to FejkAB:s Web Case Management System</h1>
            <p>Please enter username and password to login</p>
            <h:panelGrid columns="3">
                <h:outputText value="Username:"/>
                <h:inputText id="userNameInput" required="true"
                             requiredMessage="Forgot to enter username?"
                             value="#{loginBean.username}"/>
                <h:message for="userNameInput" styleClass="error"/>
                <h:outputText value="Password:"/>
                <h:inputSecret id="passWordInput" required="true"
                             requiredMessage="Forgot to enter password?"
                             value="#{loginBean.password}"/>
                <h:message for="passWordInput" styleClass="error"/>
            </h:panelGrid>
            <h:commandButton value="Login" action="#{loginBean.tryLogin}"/>
        </h:form>
        <p><h:outputText escape="false" value="#{loginBean.errorLoginMessage}" styleClass="error"/></p>
        <h:outputText escape="false" value="#{loginBean.errorLoginMessage2}" styleClass="error"/>
    </h:body>
</html>

