<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:head>
        <title>Web Case Management System: Main page</title>
        <h:outputStylesheet name="style.css" library="css"/>
    </h:head>
    <h:body>
        <h1>Welcome #{manageCasesBean.userFullName}</h1>
        <p>Theese cases has been assigned to you:</p>
        <h:form>
            <h:dataTable value="#{manageCasesBean.cases2}" var="case"
                         rowClasses="oddRows,evenRows" headerClass="header"
                         styleClass="table" cellpadding="5" cellspacing="0">
                <h:column>
                    <f:facet name="header">Id</f:facet>
                        #{case.id}
                </h:column>
                <h:column>
                    <f:facet name="header">Description</f:facet>
                        #{case.description}
                </h:column>
                <h:column>
                    <f:facet name="header">Estimated cost</f:facet>
                        #{case.totalCost}
                </h:column>
                <h:column>
                    <f:facet name="header">Estimated hours</f:facet>
                    <h:inputText value="#{case.totalHours}" rendered="#{case.editable}"/>
                    <h:outputText value="#{case.totalHours}" rendered="#{not case.editable}"/>
                </h:column>
                <h:column>
                    <f:facet name="header">Actual cost</f:facet>
                        #{case.actualCost}
                </h:column>
                <h:column>
                    <f:facet name="header">Actual hours</f:facet>
                        #{case.actualHours}
                </h:column>
                <h:column>
                    <f:facet name="header">Edit</f:facet>
                    <h:selectBooleanCheckbox value="#{case.editable}" onclick="document.location.reload(true)"/>
                </h:column>
                <h:column>
                    <f:facet name="header">State time and cost</f:facet>
                    <h:commandButton value="Edit" action="#{manageCaseBean.edit(case)}">
                        
                    </h:commandButton>
                </h:column>
            </h:dataTable>
        </h:form>
        <h:form>
            <p><h:commandButton value="Register new case" action="#{manageCaseBean.newCase}"/></p>
            <p><h:commandButton value="Log out" action="index"/></p>
        </h:form>
    </h:body>
</html>
